{#
/**
* @file
* Template for the flex style.
*/
#}

<div class="{{ rows.attributes.flex_vertical }} {{ rows.attributes.flex_horizontal }} {{ rows.attributes.flex_group }}">
    {% for row in rows %}
        {% if row|render %}
            <div class="{{ rows.attributes.child_class }}">
                {{ row }}
            </div>
        {% endif %}
    {% endfor %}
</div>